<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/login/footer.css">
    <link rel="stylesheet" href="/public/css/index/styles.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
                <img class="imagen" src="/public/img/Imagen2.png" alt="img2">
            <div class="form">
        <form>
            <label class="label" for="text">Registrate para ver quien no te sigue.
                <input class="input" type="text" placeholder="Ingrese su Correo">
            </label>
            </form>
            <p>Sus datos personales están seguros con nosotros. Usaremos tu correo electrónico para recibir actualizaciones, recetas y detalles de suscripción</p>
            <div class="btn">
            <button class="btn__continuar">Continuar</button>
        </div>
        </div>
</div>
</body>
</html>