<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/index/styles.css">
    <link rel="stylesheet" href="../public/css/planes/header.css">
    <link rel="stylesheet" href="../public/css/planes/main.css">
    <title>Planes</title>
</head>
<body>
    <div class="container">
    <header>
    <div class="banner">
        <div class="sub__container">
        <img class="logo" src="../public/img/logo-coone.svg" alt="logo">
        <p class="title" alt="titulo">COONE</p>
    </div>
        <p class="sub__title">Te ayuda a descubrir potenciales clientes & a manejar tu lista de seguidores.</p>
    </div>

</header>
<main>
    <h2>Descubre quién no te sigue en Instagram</h2>
 <section class="precios">

    <div class=precio__1>
        <ul>
            <li>3 - Dias Gratis</li>
            <li>$1 $19.99</li>
            <li>Luego plan de 2-Semanas $19.99</li>
        </ul>
        <div class="box__precio">
            <p class="valor">$1</p>
            <p class="promo__valor">3-Dias gratis</p>
        </div>
    </div>
    
        <div class=precio__2>
            <button class="btn__promo">Más popular</button>
            <ul>
                <li>3 - Dias Gratis</li>
                <li>$1 $19.99</li>
                <li>Luego plan de 2-Semanas $19.99</li>
            </ul>
            <div class="box__precio">
                <p class="valor">$1</p>
                <p class="promo__valor">3-Dias gratis</p>
            </div>
        </div>

        <div class=precio__1>
            <button class="btn__promo">Más popular</button>
            <ul>
                <li>3 - Dias Gratis</li>
                <li>$1 $19.99</li>
                <li>Luego plan de 2-Semanas $19.99</li>
            </ul>
            <div class="box__precio">
                <p class="valor">$1</p>
                <p class="promo__valor">3-Dias gratis</p>
            </div>
        </div>

 </section>
 <div class="boton">
    <button class="btn__start">Iniciar prueba y continuar</button>
    <input type="checkbox" name="terminos" id="terminos">
    <p class="terminos">Al continuar, acepto la política de privacidad, los términos de uso, los términos de facturación y la política de devolución de dinero.</p>
 </div>

</main>
</div>
</body>
</html>